@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  
}

.navbar {
  width: 30%;
  margin-left: 60%;
  height: 50px;
  
}

ul li {
  list-style: none;
}

.linknav {
  font-family: 'Poppins';
  color: #06334e;
  font-size: 3.2vh;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}


.main-div {
  width: 100%;
}

.card {
  border: 3px solid transparent;
  box-shadow: 15px 25px 15px #48b6c5;
  border-radius: 10% ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to right,#144766,#1d6f84);
}

.card:hover {
  box-shadow: 15px 25px 35px #48b6c5;


}

.coin-logo {
  position: relative;
  margin-left: 75%;
  margin-top: 5%;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 5px 5px 5px lightseagreen;
}

.card-div {
  display: grid;
  grid-template-columns: repeat(3,30%);
  grid-auto-rows: 240px;
  margin-left: 4%;
  margin-top: 60px;
}

.card-div li {
  margin-left: 5%;
  margin-top: 5%;
  height: 200px;
}

.coin-name {
  font-size: 3.2vh;
  font-weight: bolder;
  color: white
}

.coin-symbol {
  font-style: italic;
  color: white;
}

.coin-info {
  position: relative;
  width: 68%;
  margin-left: 5%;
  bottom: 30%;
  color: white;
}

.coin-price {
  position: relative;
  font-weight: 500;
  top: 5%;
  color: rgb(1, 5, 17);
}

.coin-price-change {
  position: relative;
  font-weight: 500;
  top: 5%;
}

.coin-sparkline {
  display: block;
  position: relative;
  top: 1%;
  left: 15%;
  background-color: transparent ;
}

.Desc-div {
  margin: 0;
  padding: 0;
  width: 90%;
  border: 1px solid transparent;
  border-top: 1px solid black;
  border-left: 1px solid black;
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 2.5vh;
  border-radius: 1%;
  box-shadow: 20px 20px 30px 10px lightblue;
  margin-left: 5%;  
  position: relative;
  bottom: 55px;
}

.Coin-d-name {
  display: flex;
  font-family: 'Poppins';
  font-size: 8vh;
  position: relative;
  font-weight: 500;
  bottom: 50px;
  justify-content: center;
  width: 40%;
  left: 30%;
}

.table-row {
  font-weight: 500;
  color: black;
  font-size: 2vh;
}

.table-div {
  position: relative;
  bottom: 15px;
}

.sparkline-details {
  width: 90%;
  border: 1px solid transparent;
  height: 200px;
  margin-left: 8%;
}

.spk {
  border: 1px solid black;
}

.back {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  left: 5%;
  font-size: 2.8vh;
  color: black;
  background-color: aquamarine;
  border-radius: 10%;
}

.logo {
  position: absolute;
  left: 10%;
  top: 0%;
  border: 1px solid transparent;
}

.stats-table {
  border: 1px dotted lightslategray;
  border-radius: 1%;
  width: 95%;
  margin-left: 2%;
  margin-top: 5%;
  box-shadow: 10px 10px 20px  lightseagreen;
}