@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  width: 25%;
  margin-left: 70%;
}

ul li {
  list-style: none;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-div {
  width: 100%;
}

.card {
  border: 3px solid transparent;
  box-shadow: 15px 25px 15px #48b6c5;
  border-radius: 10% ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to right,#144766,#1d6f84);
}

.card:hover {
  box-shadow: 15px 25px 35px #48b6c5;


}

.coin-logo {
  position: relative;
  margin-left: 75%;
  margin-top: 5%;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 5px 5px 5px lightseagreen;
}

.card-div {
  display: grid;
  grid-template-columns: repeat(3,30%);
  grid-auto-rows: 240px;
  margin-left: 4%;
  margin-top: 60px;
}

.card-div li {
  margin-left: 5%;
  margin-top: 5%;
  height: 200px;
}

.coin-name {
  font-size: 3.2vh;
  font-weight: bolder;
  color: white
}

.coin-symbol {
  font-style: italic;
  color: white;
}

.coin-info {
  position: relative;
  width: 68%;
  margin-left: 5%;
  bottom: 30%;
  color: white;
}

.coin-price {
  position: relative;
  font-weight: 500;
  top: 5%;
}

.coin-price-change {
  position: relative;
  font-weight: 500;
  top: 5%;
}